.coding-card {
  margin-top: 20px;
  margin-bottom: -10px;
  border: 1px solid #ddd;
  border-radius: 9px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.card-header {
  background-color: white;
}
.card-header img {
  width: 40px;
  height: 40px;
}

.card-header div {
  margin-left: 10px;
}

.image-container {
  margin: 10px 0;
}

.card-footer {
  font-size: 14px;
}

.card-footer div {
  font-size: 14px;
}

.customBtn {
  border: none;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.customBtn:hover {
  background-color: #f0ecec;
}

.GroupHeading {
  font-size: medium;
  font-weight: bold;
}
