.eventCard {
  height: 400px;
}
.viewBtn {
  width: 250px;
  background-color: white;
  font-size: small;
  font-weight: bold;
  color: #0a66c2;
  border: 1px solid #0a66c2;
  border-radius: 20px;
  padding: 5px;
}
.viewSpan {
  margin-left: 5px;
  padding: 5px;
  color: #0a66c2;
  border-radius: 50%;
  border: 1px solid #0a66c2;
}

.card-img-top {
  border: 1px solid grey;
  width: 100%;
  height: 150px;
}

.card-title,
.card-text {
  font-size: small;
  font-weight: bold;
}

.card-texts {
  font-size: small;
}

.viewBtn:hover {
  background-color: #b3d2f1;
}
.viewSpan:hover {
  background-color: #b3d2f1;
}
