.followers-list {
  margin: 0 auto;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  background-color: #fff;
  padding: 0;
}

.followers-list h5 {
  font-size: medium;
  padding: 15px;
  border-bottom: 1px solid #e1e1e1;
}

@media (max-width: 600px) {
  .followers-list {
    border: none;
    border-radius: 0;
  }
}
