.profileCard {
  width: 96%;
  margin: 0 auto;
  border-radius: 10px;
}

.banner {
  height: 50px;
}

.ProfileImg {
  margin-top: -20px;
}
.profile-img {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  margin-top: -20px;
}
.bio {
  font-size: medium;
}

.stats {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.promotion {
  height: 110px;
  font-size: small;
  background-color: white;
}

.promotion:hover {
  background-color: #f0ecec;
}
.getHire {
  margin-top: -10px;
}
.savedBtn {
  border: none;
  background-color: inherit;
  font-size: small;
  font-weight: 600;
}
.BtnSave:hover {
  background-color: #f0ecec;
}
.savedBtn:hover {
  background-color: #f0ecec;
}
.Views {
  font-size: 13px;
  font-weight: bold;
}
.Views:hover {
  background-color: #f0ecec;
}

.count {
  color: #0a66c2;
}

.profilename {
  font-size: small;
  font-weight: bold;
}

.bio {
  font-size: small;
}
