.promotionCard {
  width: 320px;

  margin-left: 0px;
}

.Footer {
  font-size: small;
}

.LinkedinLogo {
  margin-left: -10px;
  width: 50px;
}

.LogoCOl {
  margin-left: -10px;
}

.IMG {
  width: 100%;
}

.secondRow {
  margin-top: -15px;
  margin-left: -40px;
}

.ADD {
  margin-left: 10px;
}
