.topStories {
  width: 330px;
  background-color: white;
  border-radius: 9px;
}
.infoCircle {
  margin-top: -5px;
}
.HeaderStory {
  margin-top: -10px;
  margin-bottom: -6px;
}

.stories {
  position: relative;
  padding: 0px 0px 0px 12px;
  cursor: pointer;
}
.stories:hover {
  background-color: #f0ecec;
}

.showMoreStories {
  font-size: 14px;
  border: none;
  display: inline-block;
  background-color: white;
  margin-left: -5px;
}
.newSpan {
  border-radius: 5px;
  padding: 1px 8px;
  background-color: #fce3bc;
}

.games {
  margin-bottom: -10px;
  font-size: small;
  cursor: pointer;
}
.gamename {
  font-size: 16px;
}

.gamesSpan {
  font-size: x-small;
}

.Games:hover {
  background-color: #f0ecec;
}

.news {
  margin-top: -10px;
}
